# Object files
*.o
*.ko
*.obj
*.elf

#packages
[Pp]ackages
[Bb]in
[Rr]elease
[Oo]bj
*.suo
*.vs
.[Dd][Ss]_store

#node
[Nn]ode_modules

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
