extends ./layout.jade

block title
    title ACM Home

block body
    div.jumbotron
        h1 ACM
        h2 Welcome to our group page!
        p.lead. 
            We strive for a more interactive experience by coding hands on projects,
            watching new technology presentations, and overall just having fun!
            Be creative, become inspired, and have fun! 
        p 
            a.btn.btn-lg.btn-success(href='#' role='button') See what we have going on!