extends ./layout.jade

block title
    title ACM Error

block body
    div.jumbotron
        h1 Stop right there!
        p.lead. 
            Looks like you are not authorized to view this page. Please try signing in or contacting your adminstarator.