extends ./layout.jade

block title
    title ACM Officers

block body
  div.row.centered
    .col-lg-6
      h3 Tyler Vanderhoef 
      h4 - President -
      p. Tyler is a junior working as a part time software developer.
        He also loves studying Italian, and he is also our local
        Xamarin Student Ambassador.
    .col-lg-6
      h3 Kyle Nosar
      h4 - Vice President -
      p Kyle is a person, doing stuff. Like hockey stuff. And Game of Thrones...
  div.row
    .col-lg-12
      br
  div.row.centered
    .col-lg-4
      h3 Sunnya Sisler
      h4 - Treasurer -
      p Sunnya does some treasurer stuff.
    .col-lg-4
      h3 Jonathan Wamback 
      h4 - Secretary -
      p Jonathan does stuff as well.
    .col-lg-4
      h3 Matt Burris
      h4 - Secretary (outreach) -
      p Matt does some outreach stuff...