extends ./layout.jade

block title
    title ACM Error

block body
    div.jumbotron
        h1 Woops!
        p.lead. 
            Looks like we couldn't find the page you were looking for. Double check that the url is correct and try again.