extends ./layout.jade

block title
    title ACM Error

block body
    div.jumbotron
        h1 Woops!
        p.lead. 
            Looks like something went wrong when processing your information. Please contact your administrator.