extends ./layout.jade

block title
    title ACM Error

block body
    div.jumbotron
        h1 Woops!
        p.lead. 
            Looks like something went wrong when loading the requested page. Please contact the administrator or try again.
