h3.col-lg-12 Add New User
ul#addUserErrors.hidden(style='list-style-type: none')
form
	div.row
		.col-lg-3
			input.form-control(type='text', name='username', placeholder='Username')
		.col-lg-3
			input.form-control(type='text', name='email', placeholder='Email')
		.col-lg-3
			input.form-control(type='password', name='password', placeholder='New Password')
		.col-lg-3
			select.position.form-control
				option(selected=selected) - Select a position -
				option(value='President') President
				option(value='Vice President') Vice President
				option(value='Treasurer') Treasurer
				option(value='Secretary') Secretary
				option(value='Secretary (Outreach)') Secretary (Outreach)
	.row
		.col-lg-12
			p &nbsp;
	.row
		.col-lg-2
			label(for='checkbox') Admin?
			input(type='checkbox' name='isAdmin' value='false')
		.col-lg-2
			a.btn.btn-success.add-user(href='#', style='width:100%') Add