h3.col-lg-12 Current Users

div.row
	.col-md-12
		.col-md-4
			Username
		.col-md-4
			Email
		.col-md-4
			Enabled

div.row
	ul#usersList(style='list-style-type: none')
		each user in settings.users
			li
				div.col-md-12
					.col-md-4
						label #{user.username}
					.col-md-4
						label #{user.email}
					.col-md-4
						label #{user.position}